
<section class="section" style="position: absolute;right: 0px; width: 50%;">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-6 is-offset-3">
			<h2 style="text-align: center; color: #ff7089;"><b> CHAT </b></h2>
			</div>
			<div class="column is-6 is-offset-3">
				<div class="box" style="background:pink;">
					<div id="chat-messages" style="max-height: 300px; overflow-y: scroll;">
						{% for m in message_list %}
							{% if m.sender != user_name %}
							<b>{{ m.content }}</b>
							<p class="has-text-grey">{{m.sender}}</p>
							{% else %}
							<p style="text-align: right;">
								<b>{{ m.content }}</b><br>
								<p class="has-text-grey-light" style="text-align: right;">{{m.sender}}</p>
							</p>

							{% endif %}
						<br>
						{% endfor %}
					</div>
				</div>

				<div class="field">
					<div class="control">
						<input class="input" type="text" placeholder="Message" id="chat-message-input">
					</div>
				</div>

				<div class="field">
					<div class="control">
						<a class="button is-info" id="chat-message-submit" onClick="refreshPage()" style="background:#ff7089">Submit</a>
					</div>
				</div>
				<small class="has-text-grey-light">Your username: {{ user_name }}</small>
			</div>
		</div>
	</div>
</section>
        {{ room_name|json_script:"json-roomname" }}
        {{ user|json_script:"json-user" }}
        {{ receiver_id|json_script:"json-receiver_id" }}
        <script>
            const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const user = JSON.parse(document.getElementById('json-user').textContent);
            const receiver_id = JSON.parse(document.getElementById('json-receiver_id').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e){
                console.log(onmessage)

                const data = JSON.parse(e.data);
                if (data.message) {
                    document.querySelector('#chat-messages').innerHTML += ('<b>' + data.user + '</b>: ' + data.message + '<br>');
                } else {
                    alert('The message is empty!');

                }
            };
            chatSocket.onclose = function(e) {
                console.log('The socket close unexpectadly');
            };
            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                    'user': user,
                    'room': roomName,
                    'receiver_id': receiver_id,
                }));
                messageInputDom.value = '';
            };
        </script>