{% include 'user-panel/base.html' %}
{% load custom_tags %}

{% if  request.user.is_authenticated %}
<center>
    <h3 style="color:red"><u>{{ page_title }}</u></h3>

<table>
    <thead>
        <tr>
            {% for thread in thread_lists %}
                <th><a href="">{{ thread.title }} </a>
                    {% for post in thread.post_threads.all %}
                        <tr>
                            <td><a href="{% url 'post_details' post.slug %}"><b style="color:red">{{ post.title }}</b> | {{post.user}}</a></td>
                        </tr>
                    {% endfor %}
        </th>

            {% endfor %}

        </tr>
    </thead>
</table>
</center>
{% endif %}