{% load static %}
{% load custom_tags %}
{% include 'user-panel/base.html' %}
<style>
#more {display: none;}
</style>
<div>

	<center>
	<hr>
	<h3 style="text-align: center">{{ page_title }}</h3>
	<hr>
	{% for message in messages %}
	<h4 style="color:red">...***... {{ message }} ...***...</h4>
	{% endfor %}
	</center>
	<h2 style="color:blue">{{ post_qs.user }} | {{ post_qs.thread }} | {{ post_qs.created_at|date }} </h2>
	<p id="pre_text"> {{ post_qs.description|truncate_fifty_percent_word|safe }}<span id="dots"></span>
	<p><span id="more">{{ post_qs.description|safe }}</span></p>
	</p>
	<button onclick="myFunction()" id="myBtn">Read more</button>
	<!--	Comment & Reply Section -->
	<h3>Comments ({{ post_qs.post_comments.count }})</h3>
		{% for comment in post_qs.post_comments.all %}
			<p>Comment : {{ comment.comment }}</p>
			{% for reply in comment.comment_replies.all %}
				<p>reply : {{ reply.reply }}</p>
			{% endfor %}
			<!--	Reply Form-->
			{% if is_valid  %}
				<form method="POST" action="{% url 'comment_reply' id=comment.id %}" enctype="multipart/form-data">
					{% csrf_token %}
					<textarea class="form-control" name="reply" rows="3" id="reply"></textarea>
					<button type="submit">Reply</button>
				</form>
			{% endif %}
		{% endfor %}
	<hr>
		{% if is_valid %}
			<!--	Comment Form-->
			<p>Leave a Comment</p>
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<textarea class="form-control" name="comment" rows="3" id=""></textarea>
				<button type="submit">Comment</button>
			</form>
		{% endif %}
		</div>
</div>

<script>
function myFunction() {
  var pre_text = document.getElementById("pre_text");
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  }
  else {
    dots.style.display = "none";
<!--    btnText.innerHTML = "Read less";-->
    btnText.style.display = "none";
    moreText.style.display = "inline";
     if (pre_text.style.display === "") {
	 	pre_text.style.display ='none';
 }
  }
}
</script>
