{% load static %}
{% load custom_tags %}
{% include 'user-panel/base.html' %}

<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'user_profile' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">{{ page_title }}</h3>
			<hr>

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			<div>
				<h2 style="color:blue">{{ post_qs.title }} | {{ post_qs.thread }} | {{ post_qs.created_at|date }}</h2>
				{% if post_qs.thread.weight == 0 or post_qs.weight == 0 %}
				<p>{{ post_qs.description|safe }}</p>
				{% else %}
				<p>{{ post_qs.description|truncate_fifty_percent_word|safe }}</p>
				<button> Read More </button>
				{% if available_point > post_weight %}
					<p>{{ post_qs.description|safe }}</p>
				{% else %}
				<p><h3>Please Update Your Wallet</h3></p>
				{% endif %}
				{% endif %}
			</div>
			<h3>Comments ({{ post_qs.post_comments.count }})</h3>
			{% for comment in post_qs.post_comments.all %}

			<p>Comment : {{ comment.comment }}</p>
			{% for reply in comment.comment_replies.all %}
				<p>reply : {{ reply.reply }}</p>
				{% endfor %}
					<form method="POST" action="{% url 'comment_reply' id=comment.id %}" enctype="multipart/form-data">
						{% csrf_token %}
						<textarea class="form-control" name="reply" rows="3" id="reply"></textarea>
						<button type="submit">Reply</button>

					</form>
			{% endfor %}
			<hr>
			<p>Leave a Comment</p>
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<textarea class="form-control" name="comment" rows="3" id=""></textarea>
				<button type="submit">Comment</button>

			</form>
		</div>
	</div>
</div>