{% load static %}
{% load custom_tags %}
{% include 'user-panel/base.html' %}
<style>
#more {display: none;}
</style>
<div>
	<center>
	<hr>
		<h3 style="text-align: center">{{ page_title }}</h3>
		<hr>
			{% for message in messages %}
				{% if is_read_more == False %}
					<h4 style="color:red">...***... {{ message }} ...***...</h4>
				{% else %}
					<h4 style="color:blue">...***... {{ message }} ...***...</h4>
				{% endif %}
			{% endfor %}
	</center>
	<h2 style="color:blue">{{ post_qs.user }} | {{ post_qs.thread }}| Post Weight:({{ post_weight }}) | {{ post_qs.created_at|date }} </h2>
	{% if is_read_more  == False %}
	<p id="pre_text"> {{ post_qs.description|truncate_fifty_percent_word|safe }}<span id="dots"></span>
	<form method="POST">
		{% csrf_token %}
		<input name='read_more' type="hidden", value="read_more">
		<button type="submit" id="myBtn">Read more</button>
	</form>
	{% else %}
	<p><span>{{ post_qs.description|safe }}</span></p>
	{% endif %}
	</p>

		<!--	Comment & Reply Section -->
	<h3>Comments ({{ post_qs.post_comments.count }})</h3>
		{% for comment in post_qs.post_comments.all %}
			<p><b>Comment :</b> {{ comment.comment }}, <b>Commented by :</b> {{ comment.commented_by }}</p>
			{% for reply in comment.comment_replies.all %}
				<p><b>Reply :</b> {{ reply.reply }}, <b>Reply By :</b> {{ reply.replied_by }}</p>
			{% endfor %}
			<!--	Reply Form-->
			{% if is_comment_show  %}
				<form method="POST" action="{% url 'comment_reply' id=comment.id %}" enctype="multipart/form-data">
					{% csrf_token %}
					<textarea class="form-control" name="reply" rows="3" id="reply"></textarea>
					<button type="submit">Reply</button>
				</form>
			{% endif %}
		{% endfor %}
	<hr>
		{% if is_comment_show %}
			<!--	Comment Form-->
			<p>Leave a Comment</p>
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<textarea class="form-control" name="comment" rows="3" id=""></textarea>
				<button type="submit">Comment</button>
			</form>
		{% endif %}
		</div>
</div>
<!-- Start of Chat Code -->
{% if is_chat_show %}
{% include 'user-panel/chat_page.html' %}
{% endif %}
<!-- End of Async Drift Code -->

