{% load static %}
{% include 'user-panel/index.html' %}
<style>
    table, td, th {
  border: 1px solid black;
}
table {
  width: 100%;

  border-collapse: collapse;
}
</style>

<table>
    <tr>
        <th>Name</th>
        <td>{{ request.user }}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{ request.user.gender }}</td>
    </tr>
     <tr>
        <th>Contact number:</th>
        <td>{{ request.user.contact_number }}</td>
    </tr>
</table>

<a href="{% url 'create_husband' %}"><h4>+ create husband</h4></a>
{% if husband_lists %}
<h4>Husband Informations</h4>
<table>
    <thead>
        <tr>
            <th> Name</th>
            <th> Nationality</th>
            <th> Address</th>
            <th> Birth Date</th>
            <th>Details</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    {% for husband in husband_lists %}
        <tr>
            <td>{{ husband.name }}</td>
            <td>{{ husband.nationality }}</td>
            <td>{{ husband.address }}</td>
            <td>{{ husband.dob }}</td>
            <td><a href="{% url 'husband_details' husband.slug %}">Details</a></td>
            <td><a href="{% url 'husband_update' husband.slug %}">Update</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}