{% load static %}
{% load custom_tags %}
{% include 'user-panel/base.html' %}


<center>
    <h3 style="color:red"><u>{{ request.user.name }} Profile</u></h3>

</center>
<a href="{% url 'user_profile_update' request.user.slug %}"><h4>Update Profile</h4></a>
<table>
    <tr>
        <th>Name</th>
        <td>{{ request.user.name }}</td>
        <th>Gender</th>
        <td>{{ request.user.get_gender_display }}</td>
        <th>Contact number:</th>
         {% if request.user.contact_number %}
        <td>{{ request.user.contact_number }}</td>
         {% else %}
         <td>-</td>
         {% endif %}
        <th>Available Point</th>
        <td>{{ user_wallet.available_points }}</td>
    </tr>
    <tr>
        <th>Address:</th>
        <td>{{ request.user.address|truncate_fifty_percent_word|safe }}</td>
        <th>Membership Type:</th>
        <td>{{ request.user.get_membership_type_display }}</td>
        <th>Flat Plan create at</th>
        <td>{{ user_wallet.flat_plan_created_at.date }}</td>
        <th>Point Plan</th>
        <td>{{ user_wallet_transaction.point_plan }}</td>
    </tr>
    <tr>
        <th>Transaction Type:</th>
        <th>{{ user_wallet_transaction.get_transaction_type_str }}</th>

        <th>Flat Plan</th>
        <th>{{ user_wallet_transaction.flat_rate_plan.get_expiration_cycle_str }}</th>
    </tr>
</table>

<a href="{% url 'create_husband' %}"><h4>+ create husband</h4></a>
{% if husband_lists %}
<center>
    <h3 style="color:red"><u>Husband Information</u></h3>
</center>
<table>
    <thead>
        <tr>
            <th> Name</th>
            <th> Nationality</th>
            <th> Address</th>
            <th> Birth Date</th>
            <th>Details</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    {% for husband in husband_lists %}
        <tr>
            <td>{{ husband.name }}</td>
            <td>{{ husband.nationality }}</td>
            <td>{{ husband.address }}</td>
            <td>{{ husband.dob }}</td>
            <td><a href="{% url 'husband_details' husband.slug %}">Details</a></td>
            <td><a href="{% url 'husband_update' husband.slug %}">Update</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{% url 'create_post' %}"><h4>+ create post</h4></a>
{% if post_lists %}
<center>
    <h3 style="color:blue"><u>Post</u></h3>
        {% for message in messages %}
        <h4 style="color:red">...***... {{ message }} ...***...</h4>
        {% endfor %}
</center>
<table style="text-align:center">
    <thead>
        <tr>
            <th> Title</th>
            <th> Thread</th>
            <th> Description</th>
            <th> Post weight</th>
            <th> Thread weight</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for post in post_lists %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.thread }}</td>
            <td>{{ post.description|truncate_word:30|safe }}</td>
            <td>{{ post.weight }}</td>
            <td>{{ post.thread.weight }}</td>
            <td><a href="{% url 'post_details' post.slug %}">Details</a></td>
            <td><a href="{% url 'post_update' post.slug %}">Update</a></td>
            <td><a href="{% url 'post_delete' post.slug %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endif %}

