{% load static %}
{% load custom_tags %}
{% include 'user-panel/base.html' %}


<center>
    <h3 style="color:red"><u>{{ page_title  }} Profile</u></h3>

</center>
<table>
    <tr>
        <th>Name</th>
        <td>{{ request.user }}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{ request.user.gender }}</td>
    </tr>
     <tr>
        <th>Contact number:</th>
        <td>{{ request.user.contact_number }}</td>
    </tr>
</table>

<a href="{% url 'create_husband' %}"><h4>+ create husband</h4></a>
{% if husband_lists %}
<center>
    <h3 style="color:red"><u>Husband Information</u></h3>
</center>
<table>
    <thead>
        <tr>
            <th> Name</th>
            <th> Nationality</th>
            <th> Address</th>
            <th> Birth Date</th>
            <th>Details</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    {% for husband in husband_lists %}
        <tr>
            <td>{{ husband.name }}</td>
            <td>{{ husband.nationality }}</td>
            <td>{{ husband.address }}</td>
            <td>{{ husband.dob }}</td>
            <td><a href="{% url 'husband_details' husband.slug %}">Details</a></td>
            <td><a href="{% url 'husband_update' husband.slug %}">Update</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="{% url 'create_post' %}"><h4>+ create post</h4></a>
{% if post_lists %}
<center>
    <h3 style="color:red"><u>Post</u></h3>
</center>
<table>
    <thead>
        <tr>
            <th> Title</th>
            <th> Thread</th>
            <th> Description</th>
            <th> weight</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for post in post_lists %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.thread }}</td>
            <td>{{ post.description|truncate_word:30|safe }}</td>
            <td>{{ post.weight }}</td>
            <td><a href="{% url 'post_details' post.slug %}">Details</a></td>
            <td><a href="{% url 'post_update' post.slug %}">Update</a></td>
            <td><a href="{% url 'post_delete' post.slug %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

